<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="{% static 'files/Bookworm.css' %}">
    <link rel="script" href="{% static 'files/base.js' %}">
    <title> Bookworm {% block title_block %}{% endblock %}</title>
    <div id="greet">
        {% if user.is_authenticated %}<h4>Hey {{ user }}</h4>{% endif %}
    </div>
    <div id="search">
        <form>
            <input id="other" type="text" name="search" placeholder="Type here...">
            <input id="submitsearch" type="submit" name="Submit" style="margin-left: 1.5%;">
            <ul id="searchradio">
                <li id="searchradio"><input type="radio" name="searchtype" value="ISBN10">ISBN10</li>
                <li id="searchradio"><input type="radio" name="searchtype" value="Author">Author</li>
                <li id="searchradio"><input type="radio" name="searchtype" value="Title">Title</li>
            </ul>
        </form>
        <a href="{% url 'home' %}" ><img src="{% static "Logo.jpg" %}" alt="Logo" id="Logo"></a>
    </div>
    {% block head_block %}
    {% endblock %}
</head>
<body>
    {% block body_block %}
    {% endblock %}

    <div>
        <ul id="bottombar">
        <li id="BBLeft"><a href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
            <button id="BBC"><a href="/user/{{ user.userslug }}" style="color: white;text-decoration: none;">Profile</a></button>
            <button id="BBRight"><a href="{% url 'logout' %}" style="color: white;text-decoration: none;">Log Out</a></button>
        {% else %}
            <button id="BBC"><a href="{% url 'register' %}" style="color: white;text-decoration: none;">Register</a></button>
            <button id="BBRight" onclick="document.getElementById('login').style.display='block'" style="width:auto;">Login</button>
        {% endif %}
        </ul>
    </div>

    <div>
        <div id="login" class="modal">
        <form class="modal-content animate" method="post" action="{% url 'home' %}">
            <div class="container">
                {% csrf_token %}
                <label><b>Username:</b></label>
                <input id="username"type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label><b>Password:</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit" value="submit" id="modalb">Login</button>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn" id="modalb">Cancel</button>
            </div>
        </form>
        </div>
    </div>
</body>
</html>