{% extends 'Bookworm/base.html' %}

{% block title_block %}
	{{ book }}
{% endblock %}

{% block style_block %}
    <style>
        div#bookpage {
            display: inline;
        }
        img#book {
            float: left;
            margin-left: 30%;
        }
        ul#bookinfo {
            float: left;
            list-style: none;
            margin: 8% auto auto 5%;
        }
        ul#bookinfo li{
            padding: 2%;
        }
        ul#bookdetails {
            margin: auto -4% auto -2%;
            padding: 2%;
        }
        ul#bookdetails li{
            list-style: none;
            display: inline;
        }
    </style>
{% endblock %}

{% block body_block %}
    {% if book %}
    <h1><center> {{ book }} </center></h1>
    <div id="bookpage">
        <img id="book" style="width: 200px;height: 300px" src="{{ book.cover }}">
        <ul id="bookinfo">
            <ul id="bookdetails">
                <li> Authors : </li>
                {% for author in authors %}
                    <li> {{ author }} ;</li>
                {% endfor %}
            </ul>
            <ul id="bookdetails">
                <li> Genres : </li>
                {% for genre in genres %}
                    <li>{{ genre }}</li>
                {% endfor %}
            </ul>
            <li> ISBN10: {{ book.ISBN10 }}</li>


			{% if user.is_authenticated %}


            {% if display_rate %}
			<li>
			<form method = "post" action="{% url 'rate' bslug %}" enctype = "multipart/form-data">
			{% csrf_token %}



            Rate the book:
			<ul id="rateradio">
                <li id="rateradio"><input type="radio" name="ratescore" value="1">Hated it</li>
                <li id="rateradio"><input type="radio" name="ratescore" value="2">Not my cup of tea</li>
				<li id="rateradio"><input type="radio" name="ratescore" value="3">It was alright</li>
                <li id="rateradio"><input type="radio" name="ratescore" value="4">Good read</li>
                <li id="rateradio"><input type="radio" name="ratescore" value="5" checked="checked">Best book ever</li>
            </ul>
			<input id="rate" type="submit" name="rate" style="margin-left: 1.5%;" value = "Rate">
			</form>
            </li>
                {% else%}
                <li>Already rated by you</li>
            {% endif %}
			{% endif %}
			
			{% if rating is not None %}
                <li>Rating : {{ rating }} </li>
            {% else %}
                <li>Rating : No rating yet! </li>
            {% endif %}
            {% if user.is_authenticated %}

                {% if toread %}
                    <li>Added to wishlist!</li>
                {% else %}
                <li><form method = "post" action="{% url 'to_read' bslug %}" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" id="to" value="Want to Read?">
                    </form>

                </li>
                {% endif %}

                {% if read %}
                    <li>You have read this book!</li>
                {% else %}
                <li><form method = "post" action="{% url 'has_read' bslug %}" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <input type = "submit" value = "Read?" id="read">
                    </form>

                </li>
                {% endif %}
            
			
			{% endif %}
			
			
        </ul>
    </div>
    {% endif %}

    {% block script_block %}
        <script>
		
        </script>
    {% endblock %}

{% endblock %}
