{% extends 'Bookworm/base.html' %}

{% block title_block %}
	title by author name
{% endblock %}

{% block style_block %}
    <style>
    div#bookpage {
        margin-left: 30%;
        margin-top: 5%;
    }
    img#book {
        margin-left: 25%;
        width: 200px;
        height: 300px;
    }
    ul#bookinfo {
        list-style: none;
        margin-left: 30%;
    }
    table {
        margin-top: 5%;
        margin-left: 35%;
    }
    </style>
{% endblock %}

{% block body_block %}
    <div id="bookpage">
        <table>
            <tr>
                <td><img id="book"></td>
                <td>
                    <ul id="bookinfo">
                        <li>Bull</li>
                        <li>Bull</li>
                        <li>Bull</li>
                        <li>Bull</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}