{% extends 'Bookworm/base.html' %}
{% load staticfiles %}
<head><link rel="script" href="{% static 'files/genres.js' %}"></head>
{% block title_block %} Genres {% endblock %}


{% block body_block %}

    <div>
        {% if genres and bookgenres %}
            <div class="genretab">
                {% for genre in genres %}
                    <button class="genretablinks" onclick="openGenre(event, '{{ genre.genre_name }}')">{{ genre.genre_name }}</button>
                {% endfor %}
            </div>

            {% for genre in genres %}
                <div id="{{ genre.genre_name }}" class="genretabcontent">
                    <table>
                        {% for book in bookgenres %}
                            {% if genre.id in book %}
                                <tr>
                                    <td id="cover"><a href="/Bookworm/book/{{ book.0 }}"><img style="width:100px;height:100px;" src="{% static "{{ book.0 }}.jpg" %}"></a></td>
                                    <td id="detail"><a href="/Bookworm/book/{{ book.0 }}" style="text-decoration: none;color: black;" >{{ book.1 }}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% else %}
            {% url '404' %}
        {% endif %}
    </div>

{% endblock %}