{% extends 'Bookworm/base.html' %}
{% load staticfiles %}

{% block title_block %} -Genres {% endblock %}

{% block style_block %}
<style>
    /*Genre features*/
    div#genrepage {
        display: inline;
    }
    /* Style the tab */
    div.genretab {
        float: left;
        background-color: #f1f1f1;
        width: auto;
        height: auto;
    }
    /* Style the links inside the tab */
    div.genretab button {
        margin-left: 30%;
        display: block;
        color: black;
        padding: 22px 16px;
        width: 200px;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    /* Change background color of links on hover */
    div.genretab button:hover {  background-color: gainsboro; }
    /* Create an active/current tablink class */
    div.genretab button:focus, .active { background-color: grey; }
    /* Style the tab content */
    div.genretabcontent {
        float: left;
        padding: 0 2%;
        display: none;
        margin-left: 10%;
        width: 35%;
    }
    td#detail {  margin-top: 5%;  }
    td#cover{
        width:100px;
        height:100px;
    }
    tr:nth-child(even) {background-color: paleturquoise;}
    tr:nth-child(even) td#cover {  float: right; }
    tr:nth-child(even) td#detail {  float: left; }
    tr:nth-child(odd) td#cover {    float: left; }
    tr:nth-child(odd) td#detail {  float: right; }
</style>
{% endblock %}

{% block body_block %}

    <div id="genrepage">
        {% if genres and bookgenres %}
            <div class="genretab">
                {% for genre in genres %}
                    <button class="genretablinks" onclick="openGenre(event, '{{ genre.genre_name }}')">{{ genre.genre_name }}</button>
                {% endfor %}
            </div>

            {% for genre in genres %}
                <div id="{{ genre.genre_name }}" class="genretabcontent">
                    <table>
                        {% for book in bookgenres %}
                            {% if genre.id in book %}
                                <tr>
                                    <td id="cover"><a href="/Bookworm/book/{{ book.0 }}"><img style="width:100px;height:100px;" src="{% static "{{ book.0 }}.jpg" %}"></a></td>
                                    <td id="detail"><a href="/Bookworm/book/{{ book.0 }}" style="text-decoration: none;color: black;" >{{ book.1 }}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% else %}
            {% url '404' %}
        {% endif %}
    </div>

<script>
    /**
 * Created by Z on 20/03/2017.
 */
function openGenre(evt, genre) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("genretabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("genretablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(genre).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

{% endblock %}

