{% extends 'Bookworm/base.html' %}

{% block title_block %}
    Genres
{% endblock %}

{% block style_block %}
    <style>
    body {margin:0;}
    /* Style the tab */
    div.genretab {
        float: left;
        background-color: #f1f1f1;
        width: auto;
        margin-left: 20%;
    }

    /* Style the links inside the tab */
    div.genretab a {
        display: block;
        color: black;
        padding: 22px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of links on hover */
    div.genretab a:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    div.genretab a:focus, .active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .genretabcontent {
        float: left;
        padding: 0px 12px;
        width: 50%;
        height: auto;
        overflow-y: auto;
    }
    </style>
{% endblock %}

{% block body_block %}

    <div class="genretab">
        <a href="javascript:void(0)" class="genretablinks" onclick="openGenre(event, 'Action')">Action</a>
        <a href="javascript:void(0)" class="genretablinks" onclick="openGenre(event, 'Young_Adult')">Young Adult</a>
        <a href="javascript:void(0)" class="genretablinks" onclick="openGenre(event, 'Crime')">Crime</a>
        <a href="javascript:void(0)" class="genretablinks" onclick="openGenre(event, 'Thriller')">Thriller</a>
        <a href="javascript:void(0)" class="genretablinks" onclick="openGenre(event, 'Graphics')">Graphics</a>
        <a href="javascript:void(0)" class="genretablinks" onclick="openGenre(event, 'LGBT')">LGBT</a>
    </div>

    <div id="Young_Adult" class="genretabcontent">
        <h3>genre_name4</h3>
            <ul>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
            </ul>
    </div>
    <div id="LGBT" class="genretabcontent">
        <h3>genre_name2</h3>
            <ul>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
            </ul>
    </div>
    <div id="Graphics" class="genretabcontent">
        <h3>genre_name1</h3>
            <ul>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
            </ul>
    </div>
    <div id="Thriller" class="genretabcontent">
        <h3>genre_name3</h3>
            <ul>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
            </ul>
    </div>
    <div id="Crime" class="genretabcontent">
        <h3>genre_name6</h3>
            <ul>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
            </ul>
    </div>
    <div id="Action" class="genretabcontent">
        <h3>genre_name5</h3>
            <ul>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
                <li><a href="book.html"> book.title by book.book_author </a></li>
            </ul>
    </div>

{% endblock %}

{% block script_block %}
    <script>
        function openGenre(evt, genre_name ) {
            // Declare all variables
            var i, genretabcontent, tablinks;
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("genretabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("genretablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById(genre_name).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
{% endblock %}