{% extends 'Bookworm/base.html' %}

{% block title_block %}
{% endblock %}

{% block body_block %}
    <table id="books">
        <ul>
            <tr>
                <td><img id="bookcover"></td>
                <td>Book Information</td>
            </tr>
            <tr>
                <td>Book Information</td>
                <td><img id="bookcover"></td>
            </tr>
            <tr>
                <td><img id="bookcover"></td>
                <td>Book Information</td>
            </tr>
            <tr>
                <td>Book Information</td>
                <td><img id="bookcover"></td>
            </tr>
            <tr>
                <td><img id="bookcover"></td>
                <td>Book Information</td>
            </tr>
        </ul>
    </table>
{% endblock %}