{% extends 'Bookworm/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}



{% block body_block %}
    
    <h4>Search results</h4>
	
	<table>
		{% for book in results %}
			<tr>
				<td id="cover"><a href="/Bookworm/book/{{ book.bookslug }}"><img style="width:100px;height:100px;" src="{% static "{{ book.bookslug }}.jpg" %}"></a></td>
				<td id="detail"><a href="/Bookworm/book/{{ book.bookslug }}" style="text-decoration: none;color: black;" >{{ book }}</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}